<mat-card class="p-0">
    <mat-card-title class="">
        <div class="card-title-text">Create New Qualification</div>
        <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content class="mb-0">
        <form [formGroup]="qualificationForm" class="qualification">

  <div fxLayout="row wrap" class="mt-24 ">
                <div fxFlex="100" fxFlex.gt-xs="70" class="pr-1">
                    <div class="pb-1">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label> Qualification <span class="red_color">*</span></mat-label>
                            <input class="f24"
                            matInput 
                            name="qualification"
                            [(ngModel)]="qualifications.qualification"
                            formControlName="qualification"
                            placeholder="Qualification"
                            value="">
                            <mat-error
                            *ngIf="qualificationForm.controls['qualification'].hasError('required') && qualificationForm.controls['qualification'].touched " 
                           >Qualification Required</mat-error>
                    
                        </mat-form-field>

                      
                    </div>
                </div>
            </div>
        </form>
        <mat-card-footer class="pt-0">
            <button 
               mat-raised-button 
               color="primary" class="btn-primary-bg mr-12"
            (click)=" save('')">Save</button>
            <button 
               mat-raised-button 
               color="primary" class="btn-primary-bg mr-12"
        (click)=" discard()">Close</button>
      
         </mat-card-footer>
    </mat-card-content>

</mat-card>


