<mat-card class="p-0">
   <mat-card-title class="">
      <div class="card-title-text">Create New Stock </div>
      <mat-divider></mat-divider>
   </mat-card-title>
   <mat-card-content>
      <form [formGroup]="inventoryForm" class="position">
         <div fxLayout="row wrap" class="mt-24">
            <div fxFlex="100" fxFlex.gt-xs="100" class="pr-1">
               <div class="pb-1">
                  <mat-form-field class="full-width" appearance="outline">
                     <mat-label>Select Inventory Type<span class="red_color">*</span></mat-label>
                     <mat-select formControlName="inventoryTypeId">
                        <mat-option *ngFor="let position of departments" [value]="position.inventoryTypeId">
                           {{position.inventoryName}}
                        </mat-option>
                     </mat-select>
                     <mat-error *ngIf="inventoryForm.controls['inventoryTypeId'].hasError('required') 
                              && inventoryForm.controls['inventoryTypeId'].touched" class="form-error-msg">Please
                        choose
                        Inventory Type
                     </mat-error>
                  </mat-form-field>
               </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="100" class="pr-1">
               <div class="pb-1">
                  <mat-form-field class="full-width" appearance="outline">
                     <mat-label>Select Stock<span class="red_color">*</span></mat-label>
                     <mat-select formControlName="stockItemId">
                        <mat-option *ngFor="let position of departments" [value]="position.stockItemId">
                           {{position.departmentName}}
                        </mat-option>
                     </mat-select>
                     <mat-error *ngIf="inventoryForm.controls['stockItemId'].hasError('required') 
                              && inventoryForm.controls['stockItemId'].touched" class="form-error-msg">Please choose
                        Unit
                        Type
                     </mat-error>
                  </mat-form-field>
               </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="100" class="pr-1">
               <div class="pb-1">
                  <mat-form-field class="full-width" appearance="outline">
                     <mat-label> Quantity<span class="red_color">*</span></mat-label>
                     <input matInput name="stockItemQuantity" formControlName="stockItemQuantity"
                        placeholder="Stock Quantity" value="">
                     <mat-error *ngIf="inventoryForm.controls['stockItemQuantity'].hasError('required') 
                                 && inventoryForm.controls['stockItemQuantity'].touched 
                                 || inventoryForm.controls['stockItemQuantity'].hasError('pattern') 
                                 && inventoryForm.controls['stockItemQuantity'].touched" class="form-error-msg">
                        Quantity
                        Required
                     </mat-error>
                  </mat-form-field>
               </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="100" class="pr-1">
               <div class="pb-1">
                  <mat-form-field class="full-width" appearance="outline">
                     <mat-label>Out-Date<span class="red_color">*</span></mat-label>
                     <input matInput type="date" name="stockOutDate" formControlName="stockOutDate"
                        placeholder="Stock Out-Date" value="">
                     <mat-error *ngIf="inventoryForm.controls['stockOutDate'].hasError('required') 
                                 && inventoryForm.controls['stockOutDate'].touched 
                                 || inventoryForm.controls['stockOutDate'].hasError('pattern') 
                                 && inventoryForm.controls['stockOutDate'].touched" class="form-error-msg">In-Date
                        Required
                     </mat-error>
                  </mat-form-field>
               </div>
            </div>
         </div>
         <mat-card-footer class="pt-0">
            <button mat-raised-button color="primary" class="btn-primary-bg mr-12"
               (click)="Update(inventoryForm.value)">Save</button>

            <button mat-raised-button color="primary" class="btn-primary-bg mr-12" (click)=" discard()">Close</button>

         </mat-card-footer>
      </form>
   </mat-card-content>
</mat-card>