<mat-card class="p-0">
   <mat-card-title class="">
      <div class="card-title-text">Create New Stock </div>
      <mat-divider></mat-divider>
   </mat-card-title>
   <mat-card-content>
      <form [formGroup]="positionForm" class="position">
         <div fxLayout="row wrap" class="mt-24">
            <div fxFlex="100" fxFlex.gt-xs="100" class="pr-1">
               <div class="pb-1">
                  <mat-form-field class="full-width" appearance="outline">
                     <mat-label> Select Inventory Type <span class="red_color">*</span></mat-label>
                     <mat-select formControlName="inventoryTypeId">
                        <mat-option *ngFor="let type of invenorytype" [value]="type.inventoryTypeId">
                           {{type.inventoryTypeName}}
                        </mat-option>
                     </mat-select>
                     <mat-error *ngIf="positionForm.controls['inventoryTypeId'].hasError('required') 
                             && positionForm.controls['inventoryTypeId'].touched" class="form-error-msg">Please choose
                        Inventory Type
                     </mat-error>
                  </mat-form-field>
               </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="100" class="pr-1">
               <div class="pb-1">
                  <mat-form-field class="full-width" appearance="outline">
                     <mat-label>Select Unit Type<span class="red_color">*</span></mat-label>
                     <mat-select formControlName="unitTypeId">
                        <mat-option *ngFor="let unit of unittype" [value]="unit.unitTypeId">
                           {{unit.unitTypeName}}
                        </mat-option>
                     </mat-select>
                     <mat-error *ngIf="positionForm.controls['unitTypeId'].hasError('required') 
                             && positionForm.controls['unitTypeId'].touched" class="form-error-msg">Please choose Unit
                        Type
                     </mat-error>
                  </mat-form-field>
               </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="100" class="pr-1">
               <div class="pb-1">
                  <mat-form-field class="full-width" appearance="outline">
                     <mat-label> Stock Name <span class="red_color">*</span></mat-label>
                     <input matInput name="stockItemName" formControlName="stockItemName" placeholder="stockItemName"
                        value="">
                     <mat-error *ngIf="positionForm.controls['stockItemName'].hasError('required') 
                                && positionForm.controls['stockItemName'].touched 
                                || positionForm.controls['stockItemName'].hasError('pattern') 
                                && positionForm.controls['stockItemName'].touched" class="form-error-msg">Stock Name
                        Required
                     </mat-error>
                  </mat-form-field>
               </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="100" class="pr-1">
               <div class="pb-1">
                  <mat-form-field class="full-width" appearance="outline">
                     <mat-label> Stock Code <span class="red_color">*</span></mat-label>
                     <input matInput name="stockItemCode" formControlName="stockItemCode" placeholder="stockItemName"
                        value="">
                     <mat-error *ngIf="positionForm.controls['stockItemCode'].hasError('required') 
                                && positionForm.controls['stockItemCode'].touched 
                                || positionForm.controls['stockItemCode'].hasError('pattern') 
                                && positionForm.controls['stockItemCode'].touched" class="form-error-msg"> Stock Code
                        Required
                     </mat-error>
                  </mat-form-field>
               </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="100" class="pr-1">
               <div class="pb-1">
                  <mat-form-field class="full-width" appearance="outline">
                     <mat-label>Quantity<span class="red_color">*</span></mat-label>
                     <input matInput name="quantity" formControlName="quantity" placeholder="quantity" value="">
                     <mat-error *ngIf="positionForm.controls['quantity'].hasError('required') 
                                && positionForm.controls['quantity'].touched 
                                || positionForm.controls['quantity'].hasError('pattern') 
                                && positionForm.controls['quantity'].touched" class="form-error-msg"> Stock Code
                        Required
                     </mat-error>
                  </mat-form-field>
               </div>
            </div>
         </div>
         <mat-card-footer class="pt-0">
            <button mat-raised-button color="primary" class="btn-primary-bg mr-12"
               (click)="save(positionForm.value)">Save</button>

            <button mat-raised-button color="primary" class="btn-primary-bg mr-12" (click)=" discard()">Close</button>

         </mat-card-footer>
      </form>
   </mat-card-content>
</mat-card>